img {
  width: 600px;
}

.slider {
  display: flex;
  transition: transform 300ms ease-in-out;
}

.viewer {
  position: relative;
  margin: 0 auto;
  width: 600px;
  border: 2px solid black;
}

#btn-prev {
  position: absolute;
  top: 50%;
  left: 1rem;
}

#btn-next {
  position: absolute;
  top: 50%;
  right: 1rem;
}

button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}
